@font-face {
    font-family: customFont;
    src: url(Assets/SuperCartoon-6R791.ttf);
}

body{
    font-family: customFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkblue;
    color: white;
}

#fgflogo{
    width: 350px;
    margin-top: 50px;
}

#randomButton{
    font-family: customFont;
    margin-top: 75px;
    border-radius: 10px;
    border-style: none;
    background-color: transparent;
    transition: 0.3s ease;
    border: 4px solid #0060ff;
    color: white;
}

#trickDisplay{
    margin-top: 50px;
    
}

.filters{
    background-color: #0060ff;
    width: 250px;
    border-radius: 30px;
    position: absolute;
    left: 0;
    margin-top: 275px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-btn{
    font-family: customFont;
    color: white;
    transition: 0.3s ease;
    background-color: transparent;
    border: none;
}

.filter-btn:hover{
    cursor: pointer;
    scale: 1.3;
    transform: translateY(-4px);
}

#filterTitle{
    position: absolute;
    left: 0;
    margin-top: 230px;
    margin-left: 100px;
    border-style: none;
    font-size: xx-large;

}



#randomButton:hover{
    scale: 1.1;
    transform: translateY(-8px);
    color: #0060ff;
    cursor: pointer;
    border: 4px solid white;
}

#randomButton:active{
    scale: 1.2;
    color: #00255f;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0060ff;
    color: white;
    width: 500px;
    height: 250px;
    border-radius: 30px;
}